@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(22, 64, 193, 1);
    --bg: rgba(248, 249, 252, 1);
    ;
}

.text {
    color: var(--primary-color) !important;
}

.bg {
    background-color: var(--bg);
}


/* index */
.full-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.inner-section {
    padding: 0;
    margin: 0;
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    background: white;
    transition: all 0.3s;
    position: relative;
    z-index: 100;
    width: 100%;
    position: fixed;
    height: 100%;
    padding: 15px 20px;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); */
}

.logo {
    padding: 8px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.logo h2 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 38.73px;
    text-align: left;
    color: var(--primary-color);
}

#nav {
    gap: 15px;
}

#nav .nav-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}

.nav-item .nav-link {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: rgb(9, 9, 9);
}

.nav-link.active {
    color: var(--primary-color);
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: ease all 0.3s;
    position: relative;
    padding: 60px 25px 25px 255px;
    background: var(--bg);
}

.topbar {
    position: fixed;
    padding-left: 250px;
    width: 100%;
    top: 0px;
    left: 0px;
    transition: ease all 0.3s;
    z-index: 2;
    width: 100%;
    background: rgba(246, 245, 250, 1);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.3)
}

.navbar-section {
    padding: 10px 20px;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.form-control:focus {
    box-shadow: none !important;
    border: none;
    outline: none;
}

.profile-section .dropdown-menu {
    top: 0px !important;
    color: white;
    padding: 10px 0px;
    color: white;
    border-radius: 15px !important;
}

.profile-section .ixt {
    margin-right: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
}

.search-btn {
    background: var(--primary-color);
    color: white;
    border: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;

}

.drop {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;

}

.drop .dropdown-item {
    display: block;
    padding: 8px 16px;
    background-color: white;
    transition: 0.5 ease all;
}

.drop .dropdown-item:hover {
    color: black;
}


.dropdown-menu {
    min-width: 250px;
}

.dropdown-menu .stx {
    display: flex;
    align-items: center;
}

.stx i {
    margin-right: 10px;
    padding: 10px;
    background-color: blue;
    border-radius: 50%;
    color: white;
}

.dropdown-item p {
    margin: 0;
    font-size: 12px;
    color: #888;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: var(--primary-color);
    color: white;
    padding: 0px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
}

.menu-dropdown {
    position: absolute;
    top: 10px !important;
    left: 20px;
    background-color: var(--bg);
    border: 1px solid #ccc;
    border-radius: 8px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px !important;
    z-index: 1;

}

.menu-container:hover .menu-dropdown {
    display: block;
}

.menu-column {
    display: inline-block;
    margin-right: 15px;
}

.menu-item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);

}

.menu-item a:hover {
    color: black;
    text-decoration: none;
}

.nav-tabs .active {
    color: var(--primary-color) !important;
}

.chart-box {
    background: white;
    border: 0.100px solid rgba(0, 0, 0, 0.1);
}

.chart-header {
    background: rgba(235, 242, 250, 1);
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    align-items: center;

}

.chart-header .heading {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.58px;
    text-align: left;
}

.chart-header .dropdown-chart-year {
    width: 137px;
    height: 36px;
    top: 10px;
    left: 408px;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    cursor: pointer;
    color: rgba(102, 102, 102, 1);
    ;
}

.chart-header .year {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.progress {
    background: #ffc107 !important;
}

.CURRENT {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 19.58px;
    text-align: left;
    color: var(--primary-color);

}

.OVERDUE {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 19.58px;
    text-align: left;
    color: red;
}

.indicator {
    background: rgba(53, 189, 122, 1);
    height: 6px;
    width: 40px;
    border-radius: 20px;

}

.red-indicator {
    background: rgba(248, 97, 43, 1);
    height: 6px;
    width: 40px;
    border-radius: 20px;

}

.Incoming {
    color: rgba(0, 201, 69, 1);

}

.nav-link.action {

    background: rgba(235, 242, 250, 1);
    border: none !important;
    border-radius: 0.25rem;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    ;

}

.nav-link.action.active {
    background-color: white !important;
    black: rgba(0, 0, 0, 1);

}

.wtx {
    width: 50%;
    text-align: center;
}

.tab-content>.tab-pane {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.tab-pane h5 {
    font-weight: bold;
}

.unbilled-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.unbilled-info div {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-right: 10px;
}

.unbilled-info div:last-child {
    margin-right: 0;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item {
    width: 32%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.project-item p {
    margin: 0;
}

.see-more {
    text-align: center;
    margin-top: 20px;
}

.hours {
    font-family: Inter;
    font-size: 14.52px;
    font-weight: 300;
    line-height: 25.84px;
    text-align: center;
    color: rgba(16, 24, 40, 0.6);
}



/* progress bar */

 
/* progress bar */